<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click.native="dialog = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title v-html="t.location"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark flat @click.native="dialog = false" v-html="t.ask"></v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-layout row d-flex wrap style="height: calc(50vh - 56px); margin-top:calc(50vh/2);flex: 1, 1 auto; align-items: center; justify-content: center;" >
                    <v-layout style="align-items: center; justify-content: center;" ><v-icon size="150" color="success">place</v-icon></v-layout>
                    <v-layout column wrap style="margin: 0px calc(10vw); justify-content: center; align-items: center;">
                        <v-subheader> Please allow the use of Location services. </v-subheader>
                        <p>A pop-up will be displayed, please allow location Services</p>
                        <v-btn outline color="success" @click="handlePermission()" dark>Allow Access</v-btn>
                    </v-layout>
                </v-layout>
            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script>
    export default {
        name: 'Location',
        mounted() {
            buss.$on('permission_ask_location', this.handleShow);
        },
        beforeDestroy() {
            buss.$off('permission_ask_location');
        },
        data(){
            return {
                dialog: false,
                t: {
                    location: 'Location Permission',
                    ask: 'Yes allow'
                }
            }
        },
        methods: {
            handleShow() {
                this.dialog = true;
            },
            async handlePermission() {
                if ("geolocation" in navigator) {
                    await navigator.geolocation.getCurrentPosition(function(position) {
                        alert(`Your Location is Lat: ${position.coords.latitude} and Lng: ${position.coords.longitude}`);
                    });
                } else {
                    alert('Geolocation not supported for your device!')
                }
            }
        }
    }
</script>