<template>
     <v-btn 
        v-if="isJoining"
        @click="handleClick" 
        color="primary elevation-0" 
        v-html="buttonText"
    />
</template>
<script>
    import auth from '@/mixins/authMixin.js'
    export default {
        name: 'LeaveButton',
        mixins: [auth],
        props: {
            loop: {
                type: Object,
                required: true,
                default: {}
            },
            userId: {
                type: String,
                require: true
            },
            isFlat: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        data() {
            return {
                buttonTextLeave : 'Leave',
                buttonTextCancel: 'Cancel'
            }
        },
        computed: {
            buttonText() {
                if(this.loop.author.id == this.id) {
                    return this.buttonTextCancel
                } else {
                    return this.buttonTextLeave;
                }
            },
            isJoining() {
                const pplJoining = Object.keys(this.loop.peopleJoining);
                return pplJoining.find(ppl => ppl == this.$store.state.auth.id);
            },
            isActive() {
                return true;
            }
        },
        methods: {
            handleClick() {
                // trigger warning modal
                console.log(this.buttonText.toLowerCase());
                buss.$emit(`${this.buttonText.toLowerCase()}_loop`, 1);
                // leave the loop

                // success message
            },
            leaveLoop() {
                // unsubscribe from firebase

                // return true/false
            }
        }
    }
</script>