<template>
    <v-layout row wrap>
        <v-flex xs12>
            <label>Type of bike used</label>
            <v-radio-group v-model="completedFields.row" row>
                <v-radio label="Street" input-value="true" is-active value="street"></v-radio>
                <v-radio label="Off Road" value="offroad"></v-radio>
                <v-radio label="City" value="city"></v-radio>
            </v-radio-group>
        </v-flex>
         <v-flex xs12>
            <v-select
                :items="bikeFields.pace"
                v-model="completedFields.pace"
                label="Cycle Pace"
                hint="Your average pace in cycling"
                single-line
                @click:append="handleQuestionClick"
            ></v-select>
        </v-flex>
        <v-flex xs12>
            <v-select
                :items="bikeFields.distance"
                v-model="completedFields.distance"
                label="Cycling distance"
                hint="Total distance to cycle"
            ></v-select>
        </v-flex>
    </v-layout> 
</template>
<script>
export default {
    name: 'CyclingForm',
    data() {
        return {
            completedFields: {
              pace: null,
              distance: null,
              row: 'street'
            },
            bikeFields: {
                pace: [
                    '<20km/h',
                    '20 - 25km/h',
                    '25 - 30km/h',
                    '30 - 35km/h',
                    '35 - 40km/h',
                    '>40km/h'
                ],
                distance: [
                    'Just beginning',
                    '1 - 5km',
                    '5 - 10km',
                    '10 - 15km',
                    '15 - 20km',
                    '20 - 25km',
                    '25 - 30km',
                    '30+ km'
                ]
            }
        }
    },
    watch: {
        completedFields: {
            handler(val){
                   this.$emit('input', val)
            },
            deep: true
        }
    },
    methods: {
        handleQuestionClick() {
            console.log('help clicked')
        }
    }
}
</script>
