<template>
    <v-form ref="form" v-model="valid" lazy-validation> 
    <v-layout row wrap>
        <v-flex xs12>
            <v-select
                :items="runningFields.pace"
                v-model="completedFields.pace"
                label="Running Pace"
                @click:append="handleQuestionClick"
                :rules="paceValidationRules"
            ></v-select>
        </v-flex>
        <v-flex xs12>
            <v-select
                :items="runningFields.distance"
                v-model="completedFields.distance"
                label="Running distance"
                hint="Total distance to run"
                :rules="distanceValidationRules"
            ></v-select>
        </v-flex>
        <v-flex xs12>
            <v-select
                :items="runningFields.type"
                v-model="completedFields.type"
                label="Running Type"
                hint="Type of run"
                :rules="typeValidationRules"
            ></v-select>
        </v-flex>
    </v-layout>
    </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    name: 'RunningForm',
    mounted() {
        buss.$on('check_validation', this.handleCheckValidation)
    },
    data() {
        return {
            valid: false,
            paceValidationRules:[
                v => !!v || 'Pace field is required'
            ],
            distanceValidationRules:[
                v => !!v || 'Pace field is required'
            ],
            typeValidationRules:[
                v => !!v || 'Pace field is required'
            ],
             runningFields: {
                pace: [
                    '<8 min/km',
                    '8 - 7 min/km',
                    '7 - 6 min/km',
                    '5 - 6 min/km',
                    '<5 min/km'
                ],
                distance: [
                    'Just beginning',
                    '1 - 3km',
                    '3 - 5km',
                    '5 - 7km',
                    '7 - 10km',
                    '10 - 15km',
                    '15 - 20km',
                    '20+ km'
                ],
                type: [
                    'Road',
                    'Trail',
                    'Circuit'
                ],
                
            },
            completedFields: {
                pace: null,
                distance: null,
                type: 'Road'
            }
        }
    },
    beforeDestroy() {
        buss.$off('check_validation');
    },
    methods: {
        handleQuestionClick() {
            alert('answer to the queation')
        },
        async handleCheckValidation(e) {
            if( await this.$refs.form.validate()){
                buss.$emit('validation_ok');
            } else {
                buss.$emit('validation_error');
            }
        }
    },
    watch: {
        completedFields: {
            handler(val){
                this.$emit('input', val)
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters([
            'auth/isLoggedIn'
        ])
    }
}
</script>
