<template>
     <v-card
        class="mb-3 elevation-0"
    >
        <v-card-title>
             <v-layout row wrap>
                <v-flex xs12>
                    <p class="title mb-0">Where do you start your <u>{{loopType}}</u>?</p>
                    <v-subheader class="ml-0 pl-0 mt-0 pt-0">Type an address then fine-tune on the map.</v-subheader>
                </v-flex>
            </v-layout>
        </v-card-title>
        <v-card-text>    
        <!-- Begin step 2 -->
            <gmap-autocomplete
                class="gmap-autocomplete--local"
                v-model="searchTerm"
                @place_changed="setPlace"
                autofocus
                :select-first-on-enter="true"
                ref="place"
            />
            <v-alert type="warning" :value="error" dark>
                {{errorMessage}}
            </v-alert>
            <GmapMap
                v-show="mapActive"
                @center_changed="handleCenterChanged"
                :center="center"
                :zoom="zoomLevel"
                :options="{disableDefaultUI: true}"
                ref="map"
                map-type-id="roadmap"
                style="width: 100%; height: 260px">
                <div slot="visible" v-if="triggerDistance">
                    <div style="bottom: 0; left: 0; position: absolute; z-index: 100; width: 100%">
                        <v-alert type="warning" :value="triggerDistance" thin dark>You are moving from your initial location.</v-alert>
                    </div>
                </div>
                <GmapMarker
                    v-if="place"
                    :animation="0"
                    :draggable="false"
                    :position="markerPosition" />
            </GmapMap>
            
        <!-- End step 2 -->
        </v-card-text>
        <v-card-actions>
             <v-btn 
                @click="nextStep(1)"
                flat
                color="grey lighten-1">
                Back
            </v-btn>
             <v-btn
                color="primary"
                :disabled="place == null || triggerDistance == true"
                @click="nextStep(3)">
                Choose location 
            </v-btn>
        </v-card-actions>
    </v-card>

</template>
<script>
    import Vue from 'vue'
    import * as VueGoogleMaps from 'vue2-google-maps'
    import loopMixins from '@/mixins/loopMixin'
    import debounce from 'lodash/debounce'
    Vue.use(VueGoogleMaps, {
    load: {
        key: 'AIzaSyCbo-8z8vmI7vmqdPqu1Z64qiihc8kUeAw',
        libraries: 'places'
    }
    })
    export default{
        name: 'Step2',
        mixins: [loopMixins],
        props: {
            value: {
                type: Object
            },
            loopType: {
                type: String,
            }
        },
        data() {
            return {
                searchTerm: '',
                place: null,
                zoomLevel: 17,
                mapActive: false,
                location: {},
                markerPosition: {lat: 45, lng: 25},
                center: {lat:45, lng:25},
                error: false,
                errorMessage: '',
                errorMessageBag: {
                    noStreet: 'Please be more specific in your search. Ex: search for a street in a city.',
                    noAddress: 'Please choose a corect address.'
                },
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                }
            }
        },
        computed:{
            triggerDistance() {
                try {
                    const dist = this.location.distance;
                    if(dist > 200) {
                        return true
                    } else {
                        return false
                    }
                } catch(e) {
                    return false;
                }
            },
            google: VueGoogleMaps.gmapApi
        },
        methods: {
            nextStep(step) {
                this.$emit('changeStep', step)
            },
            handleCenterChanged: debounce(function(e) {
                this.setMarkerPosition(e.lat(), e.lng())
                const from = {lat1: this.location.initialLat, lon1: this.location.initialLng};
                const to = {lat2: e.lat(), lon2: e.lng()};
                const distance = Math.round((this.calculateDistance(from, to) * 1000),0);
                
                this.location = {
                    ...this.location,
                    lat: e.lat(),
                    lng: e.lng(),
                    accurate: distance > 1 ? false : true,
                    distance: distance
                }
                this.$emit('input', this.location);
                
            }),
            setPlace(newPlace) {
                this.resetError();
                try {
                    let location = this.extractLocation(newPlace);
                    if(location.street == null) {
                        this.setError('noStreet');
                        return false;
                    } else {
                        const finalLocation = {
                            ...location,
                            initialLat: location.lat,
                            initialLng: location.lng,
                            accurate: true
                        }
                        this.$emit('input', finalLocation);
                        this.location = finalLocation;
                    }
                } catch(e) {
                    this.setError('noAddress');
                    return false;
                }

                this.place = newPlace
                this.mapActive = true
                this.setMarkerPosition(newPlace.geometry.location.lat(), newPlace.geometry.location.lng())
                this.$refs.map.panTo({
                    lat: newPlace.geometry.location.lat(),
                    lng: newPlace.geometry.location.lng(),
                });
            },
            setMarkerPosition(lat, lng) {
                if(lat !== undefined && lng !== undefined) {
                    this.markerPosition = {
                        lat : lat,
                        lng: lng
                    }
                }
                return false;
            },
            calculateDistance(from, to) {
                const {lat1, lon1} = from;
                const {lat2, lon2} = to;
                var radlat1 = Math.PI * lat1/180
                var radlat2 = Math.PI * lat2/180
                var theta = lon1-lon2
                var radtheta = Math.PI * theta/180
                var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                if (dist > 1) {
                    dist = 1;
                }
                dist = Math.acos(dist)
                dist = dist * 180/Math.PI
                dist = dist * 60 * 1.1515
                dist = dist * 1.609344
                return dist
            },
            resetError() {
                this.error = false;
                this.errorMessage = ''
                this.place = null;
                this.mapActive = false;
            },
            setError(message) {
                this.error = true;
                this.errorMessage = this.errorMessageBag[message];
            },
        }
    }
</script>
<style>
.gmap-autocomplete--local {
    width: 100%; 
    height: 45px;  
    font-size: 14px; 
    border-bottom: 1px solid #ccc; 
    display: block; 
    margin-bottom: 0px; 
    outline: none; 
    cursor: pointer
}
.v-card {
    margin-bottom: 0 !important;
}
.v-card__title {
    padding-bottom: 0;
    padding-left:0;
    padding-top: 0;
}
.v-card__text{
    padding: 0;
    margin-top: 10px;
}
.sports {
    display: flex;
    flex: 1 1 auto;
    height: 7rem;
    flex-direction: row;
    justify-content: space-between;
}
.sports__item {
    height: 7rem;
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1/2;
    text-align: center;
    flex-direction: row;
    justify-content: flex-end;
    align-items: space-around;
}
.sports__item .v-btn {
    height: 6rem;
}
.v-subheader {
    height: 30px;
}
.v-card__actions {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-top: 20px;
}
</style>
