<template>
    <v-card
        class="mb-3 elevation-0"
        >
        <v-card-title>
             <v-layout row wrap>
                <v-flex xs12>
                    <p class="title mb-0">Choose your activity</p>
                    <v-subheader class="ml-0 pl-0 mt-0 pt-0">What activity would you like to schedule ?</v-subheader>
                </v-flex>
            </v-layout>
        </v-card-title>
        <v-card-text>
            <v-layout row wrap class="sports">
                <v-flex
                    class="sports__item"
                    v-for="sport in sports"
                    :key="sport.internal"
                    >
                    <v-btn
                        dark
                        :class="[{'grey' : currentSport != sport.internal}, {'orange elevation-3' : currentSport == sport.internal},]"
                        @click="setActiveSport(sport.internal)"
                    >
                        <v-icon>{{sport.icon}}</v-icon>
                        <h3>{{sport.name}}</h3>
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-card-text>
        <!-- Begin step 1 -->
           
        <v-divider></v-divider>
        <v-card-actions>
            <v-btn
                color="primary"
                @click="nextStep(2)">
                Choose activity
            </v-btn>
        </v-card-actions>
        </v-card>          
</template>
<script>
    export default {
        props: {
            value: {
                type: String,
                required: true,
                default: 'run'
            }
        },
        mounted(){
            this.currentSport = this.value;
        },
        name: 'Step1',
        data() {
            return {
                currentSport: 'run',
                sports: [{
                    id: 0,
                    internal: 'run',
                    name: 'Running',
                    icon: 'directions_run',
                    component: 'running',
                    type: 'free',
                    default: true
                },
                {
                    id: 1,
                    internal: 'bike',
                    name: 'Cycling',
                    icon: 'directions_bike',
                    component: 'cycling',
                    type: 'free',
                    default: false
                }],
            }
        },
        methods: {
            setActiveSport(internal){ 
                this.currentSport = internal;
                this.$emit('input', internal);
            },
            nextStep(step) {
                this.$emit('changeStep', step)
            }
        }
    }
</script>
<style>
.v-card {
    margin-bottom: 0 !important;
}
.v-card__title{
    padding-bottom: 0;
    padding-top: 0;
}
.v-card__text{
    padding: 0;
    margin-top: 10px;
}
.sports {
    display: flex;
    flex: 1 1 auto;
    height: 7rem;
    flex-direction: row;
    justify-content: space-between;
}
.sports__item {
    height: 7rem;
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1/2;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
}
.sports__item .v-btn {
    height: 6rem;
}
.v-subheader {
    height: 30px;
}
.v-card__actions {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-top: 20px;
}
</style>

