<template>
    <v-card
        class="mb-3 elevation-0"
        height="auto"
        >
        <v-card-title>
             <v-layout row wrap>
                <v-flex xs12>
                    <p class="title mb-0">Final details on the <u>{{loopType}}</u>!</p>
                    <v-subheader class="ml-0 pl-0 mt-0 pt-0">Give people joining the {{loopType}} more details.</v-subheader>
                </v-flex>
            </v-layout>
        </v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation> 
            <!-- Start Step 3 -->
            <v-layout row wrap>
                <v-flex xs8 sm7 md6>
                <v-dialog
                    ref="date_dialog"
                    v-model="date_modal"
                    lazy
                    full-width
                    width="290px">
                    <v-text-field
                        slot="activator"
                        v-model="date"
                        label="Date"
                        prepend-icon="event"
                        :required="true"
                        :rules="dateValidationRules"
                    ></v-text-field>
                    <v-date-picker 
                    v-model="date" 
                    scrollable
                    :min="minDate"
                    >
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="date_modal = false">Cancel</v-btn>
                        <v-btn flat color="primary" @click="$refs.date_dialog.save(date)">OK</v-btn>
                    </v-date-picker>
                </v-dialog>
            </v-flex>
            <v-flex xs4 sm5 md4>
                <v-dialog
                        ref="time_dialogue"
                        v-model="time_modal"
                        persistent
                        lazy
                        full-width
                        width="290px">
                    <v-text-field
                        slot="activator"
                        v-model="time"
                        label="Time"
                        :rules="timeValidationRules"
                        prepend-icon="access_time"
                        :required="true"
                        ></v-text-field>
                    <v-time-picker
                        v-if="time_modal"
                        format="24hr"
                        v-model="time">
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="time_modal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.time_dialogue.save(time)">OK</v-btn>
                    </v-time-picker>
                </v-dialog>
            </v-flex>
            <v-flex xs12>
                <component 
                    :is="loadedComponent" 
                    v-model="meta"
                >
                </component>
            </v-flex>
            <v-flex xs12>
                <v-textarea
                    label="More details"
                    v-model="details"
                    name="details"
                    placeholder="Details about the run"
                ></v-textarea>                            
            </v-flex>
            </v-layout>
            </v-form>
        </v-card-text> 
            <!-- End Step 3 -->
        <v-card-actions>
            <v-btn 
                @click="nextStep(2)"
                flat
                color="grey lighten-1">
                Back
            </v-btn>
            <v-btn
                color="primary"
                :disabled="!valid"
                @click.prevent="handleSubmit()"
            >
            Finish loop
            </v-btn>
        </v-card-actions>
    </v-card>      
</template>
<script>
    import running from '@/components/forms/AddLoopForm/RunningForm'
    import cycling from '@/components/forms/AddLoopForm/CyclingForm'
    export default {
        props: {
            loopType: {
                type: String,
                required: true,
                default: "run"
            }
        },
        data() {
            return {
                valid: true,
                isValid: false,
                childValid: false,
                date_modal: false,
                time_modal : false,
                date: null,
                dateValidationRules: [
                    v => !!v || 'Date field is required',
                ],
                time: null,
                timeValidationRules: [
                    v => !!v || 'Time field is required'
                ],
                details: '',
                meta: {}
            }
        },
        computed: {
            minDate() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd;
                }
                if(mm<10){
                    mm='0'+mm;
                }
                today = yyyy+'-'+mm+'-'+dd;
                return today
            },
            loadedComponent() {
                if(this.loopType =='run') {
                    return 'running';
                } else if(this.loopType == 'cycle') {
                    return 'cycling';
                }
            }
        },
        methods: {
            nextStep(step) {
                this.$emit('changeStep', step)
            },
            handleChildValidation(e) {
                this.childValid = e;
            },
            handleSubmit() {
                buss.$emit('check_validation');
                return this.$refs.form.validate();
                this.calculateSubmit();
                this.$emit('input', {
                    meta: {...this.meta},
                    details: this.details,
                    metaTime: this.time,
                    metaDate: this.date,
                    isValid: this.isValid
                })
                this.$emit('submitForm')
            },
            calculateSubmit() {
                let vArr = [];
                vArr.push(this.time != null ? true : false);
                vArr.push(this.date != null ? true : false);
                try {
                    if(Object.keys(this.meta).length  == 0) {
                        vArr.push(false);
                    } else {
                        Object.entries(this.meta).forEach(([key, val]) => {
                            if(val == null) {
                                vArr.push(false)
                            } else {
                                vArr.push(true);
                            }
                        })
                    }
                } catch( e) {
                    vArr.push(false);
                }
                let v = vArr.indexOf(false) > -1;
                this.isValid = !v;
            }
        },
        components: {
            running,
            cycling
        }
    }
</script>
