<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click.native="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title v-html="t.leaveSoSoon"></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat @click.native="dialog = false" v-html="buttonTitle"></v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-list three-line subheader>
          <v-subheader v-html="t.leaveThisLoop"></v-subheader>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title v-html="t.quickTitle"></v-list-tile-title>
              <v-list-tile-sub-title v-html="t.subTitle"></v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list three-line subheader>
          <v-radio-group v-model="radios">
            <v-subheader>Feedback</v-subheader>
            <v-list-tile avatar v-if="leaveItems" v-for="item in leaveItems" :key="item.id">
                <v-list-tile-action>
                    <v-radio :value="item.val"></v-radio>
                </v-list-tile-action>
                <v-list-tile-content @click="radios=item.val">
                    <v-list-tile-title v-text="item.title"></v-list-tile-title>
                    <v-list-tile-sub-title v-text="item.description"></v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
          </v-radio-group>
        </v-list>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import auth from './../../../mixins/authMixin.js'
export default {
    name: 'LeaveModal',
    mixins: [auth],
    props: {
        value: {
            type: Number
        },
        loop: {
            type: Object,
            required: true,
            default: {}
        }
    },
    data () {
        return {
            dialog: false,
            notifications: 0,
            sound: true,
            widgets: false,
            radios: 4,
            leaveItems: [
                {
                    val: 1,
                    title: 'Something came up',
                    description: "Something interfered with my schedule and i won't make it"
                },
                {
                    val: 2,
                    title: 'I have an injury',
                    description: 'I injured myself doing other activities.'
                },
                {
                    val: 3,
                    title: "I don't like the organizer",
                    description: "I don't like the organizer of the run, either by my experience or other's feedback"
                },
                {
                    val: 4,
                    title: 'Prefer not to say',
                    description: 'I have my personal reasons, which i choose not to share.'
                }
            ],
            t: {
                leaveSoSoon: 'Leaving so soon ?',
                leave: 'Leave',
                cancel: 'Cancel',
                leaveThisLoop: "We are sorry to see you go :(",
                quickTitle: 'Quick feedback',
                subTitle: 'Please let us know, what made you quit this session. It will help us better understand your need.',
            }
        }
    },
    computed: {
        buttonTitle() {
            if(this.id == this.loop.author.id) {
                return this.t.cancel;
            } else {
                return this.t.leave;
            }
            
        }
    },
    mounted() {
        buss.$on('leave_loop', this.handleShow);
    },
    beforeDestroy() {
        buss.$off('leave_loop');
    },
    watch: {
        radios(newVal, oldVal){
            if(newVal !== oldVal) {
                this.$emit('input', newVal);
            }
        }
    },
    methods: {
        handleShow($event) {
             if($event == 1) {
                 this.dialog = true;
             }
        }
    }
}
</script>
