<template>
    <v-avatar color="purple">
      <span v-if="!hasImage" class="white--text headline">{{avatar}}</span>
      <img
        v-if="hasImage"
        :src="avatar"
        :alt="alt"
      >
    </v-avatar>
</template>
<script>
import mapState from 'vuex'
import firebase from '@firebase/auth'
export default {
    data() {
        return {
            alt: null
        }
    },
    props: {
        user: {
            type: String,
            default: null
        }
    },
    computed: {
        userId() {
            return this.$store.state.auth.id;
        },
        currentUser() {
            return this.$store.state.auth.user;
        },
        isCurrent(){
            return this.userId == this.user;
        },
        hasImage() {
            if(this.isCurrent && this.currentUser.photoURL != null){
                return true;
            }
            return false;
        },
        avatar() {
            if(!this.hasImage) {
                if(this.isCurrent){
                    this.alt = this.currentUser.displayName;
                    return this.currentUser.displayName.charAt(0).toUpperCase();
                }else {
                    
                }
            } else {
                return 'X';
            }
        }
    }
}
</script>

