<template>
    <div>
        <button @click="buttonAction('stuff')" v-html="buttonName"></button>
    </div>
</template>
<script>
    export default {
        name: 'Modal',
        props: {
            buttonName: {
                type: String,
                required: true,
                default: 'Ok'
            }
        },
        methods: {
            buttonAction(message) {
                this.$emit('modalButtonClick', this.buttonName)
            }
        }
    }
</script>