<template>
     <v-layout row wrap>
        <v-flex flex>
            <v-card class="mt-1">
                
                <v-card-title class="card-title"/>
                <v-card-text v-if="hasPassword">
                    
                    <v-container grid-list-xs full-width>
                        <v-flex xs12>
                                <v-alert
                                    :value="showError"
                                    type="error"
                                    transition="scale-transition"
                                >
                                <div v-html="errorMessage"><v-icon>danger</v-icon></div>
                            </v-alert>
                            <v-form ref="form" v-model="valid" lazy-validation>
                                <h3 class="title">Password change</h3>
                                <v-subheader class="pl-0">Change your account password</v-subheader>
                                <v-text-field
                                    type="password"
                                    v-model="current" 
                                    label="Current password"
                                    :rules="currentRules"
                                    required
                                    />
                                  <v-text-field
                                    name="password"
                                    label="New Password"
                                    v-model="newPassword"
                                    :autofocus="true"
                                    hint="At least 8 characters"
                                    min="8"
                                    :rules="newPasswordRules"
                                    :append-icon="password_visible ? 'visibility' : 'visibility_off'"
                                    @click:append="() => (password_visible = !password_visible)"
                                    :type="password_visible ? 'text' : 'password'"
                                    required
                                ></v-text-field>
                            </v-form>
                        </v-flex>
                    </v-container>
                </v-card-text>
                <v-card-text v-else>
                    <h3 class="title red--text">Can't change password!</h3>
                    <v-subheader class="my-4 pl-0">You are currently logged with a social provider. To change your password please visit your social provider's webpage.</v-subheader>
                </v-card-text>
                <v-card-actions>
                    <v-btn flat color="primary" :loading="isLoading" type="submit" @click="handleSubmit" v-if="hasPassword">Update password</v-btn>
                    <v-btn flat color="secondary" @click="$router.push('/settings')">Back</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
    data() {
        return {
            valid: false,
            password_visible: false,
            showError: false,
            errorMessage: null,
            success: false,
            current: '',
            newPassword: '',
            currentRules: [
                v => !!v || 'Current Password is required',
                v => v.length >= 8 || 'Password needs to be at least 8 characters long'
            ],
            newPasswordRules: [
                v => !!v || 'New Password is required',
                v => v.length >= 8 || 'Password needs to be at least 8 characters long',
                v => v != this.current || 'The new password can\'t be the same as the old one'
            ]
        }
    },
    computed: {
        ...mapGetters('auth', [
            'loginProviders'
        ]),
        ...mapGetters('helper', [
            'isLoading'
        ]),
        hasPassword()  {
            var hp = false
            hp = Object.keys(this.loginProviders).filter(provider => {
                return provider == 'password'
            })
            return !!hp.length
        }
    },  
    methods: {
        handleSubmit() {
            let _this = this
            _this.errorMessage = null
            _this.showError = false
            if(this.$refs.form.validate()){
                this.$store.dispatch('auth/changePassword', {current: this.current, newPassword: this.newPassword})
                    .then(() => {

                        this.current = ''
                        this.newPassword = ''
                        this.$router.push('/settings')
                    })
                    .catch(e => {
                        _this.errorMessage = e.message
                        _this.showError = true
                    })
            }
        }
    }
}
</script>
<style>
.card-title {
    padding-bottom: 0
}
.gradient--bg {
    height: 100px !important;
    background: linear-gradient(0deg,#83b0ff,#7eadff)!important;
    /* background-color: red; */
}
.avatar--over {
    margin: -95px auto 0 auto;
}
</style>
