<template>
    <v-layout row wrap>
        <v-flex flex>
            <v-card class="mt-1">
                <v-card-media
                    class="red--text blur gradient--bg"
                    :gradient="gradient"
                    height="110px"
                />
                <v-card-title>
                     <v-avatar color="indigo" class="avatar--over elevation-1" size="120px">
                        <!-- <v-icon large dark>account_circle</v-icon> -->
                        <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="">
                    </v-avatar>
                    <v-container grid-list-xs full-width>
                        <v-flex xs12>
                            <v-form ref="form" lazy-validation>
                                <h3 class="title">Profile details</h3>
                                <v-subheader class="my-2 pl-0">Personal details</v-subheader>
                                <v-text-field
                                    v-model="displayName"
                                    :rules="displayNameRules"
                                    label="Full Name"
                                    ref="displayName"
                                    />
                                <v-text-field
                                    value="email"
                                    v-model="email"
                                    :rules="emailRules"
                                    label="Email Address"
                                    disabled
                                    ref="emailAddress"
                                    append-icon="lock"
                                 />
                                 
                                 <span class="d-block label--like">Gender</span>
                                 <v-btn-toggle v-model="gender" mandatory>
                                    <v-btn flat>
                                        Female
                                    </v-btn>
                                    <v-btn flat>
                                        Male
                                    </v-btn>
                                    <v-btn flat>
                                        Other
                                    </v-btn>
                                </v-btn-toggle>
                                <v-subheader class="my-4 pl-0">Account preferences</v-subheader>
                                
                                <span class="d-block label--like">Favourite sport</span>
                                <v-btn-toggle v-model="selectedSport" mandatory>
                                    <template v-if="sports" v-for="sport in sports">
                                        <v-btn flat :key="sport.id">
                                            {{sport.name}} <v-icon>{{sport.icon}}</v-icon>
                                         </v-btn>
                                    </template>
                                </v-btn-toggle>
                            </v-form>
                        </v-flex>
                    </v-container>
                </v-card-title>
                <v-card-actions>
                    <v-btn flat color="primary" :loading="isLoading" @click="handleSubmit()">Save Profile</v-btn>
                    <v-btn flat color="secondary" @click="$router.push('/settings')">Back</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
import Vue from 'vue';
import Croppa from 'vue-croppa';

Vue.use(Croppa);
import {mapGetters, mapActions, mapState} from 'vuex'
export default {
    data() {
        let the_email = this.$store.state.auth.user.email
        let the_name = this.$store.state.auth.user.displayName
        let the_gender = this.$store.state.auth.settings.gender.id
        let the_sport = this.$store.state.auth.settings.favouriteSport.id
        return {
            gradient: 'to top, #7B1FA2, #E1BEE7',
            displayName: the_name,
            displayNameRules: [
                v => !!v || 'Name field is required.',
                v => (!!v && v.length > 3) || 'Please enter your full name.'
            ],
            email: the_email,
            emailRules: [],
            gender: the_gender,
            selectedSport: the_sport
        }
    },
    async created() {
        await this.$store.dispatch('auth/getSettings')
    },
    computed: {
        ...mapState('newloop', {
            sports: state => state.sports
        }),
        ...mapGetters('helper', [
            'isLoading'
        ]),
        ...mapGetters('auth', {
            authEmail: 'email',
            authName: 'displayName',
            authGender: 'gender',
        }),
        realGender() {
            let genderName = null
            if(this.gender == 0) {
                genderName = 'Female'
            } else if ( this.gender == 1) {
                genderName = 'Male'
            } else {
                genderName = 'Other'
            }
            return {
                name: genderName,
                id: this.gender
            }
        }, 
        realSport() {
            let sportName = this.sports.map(sp => {
                if(sp.id == this.selectedSport){
                    return sp.name;
                }
            })
            return {
                id: this.selectedSport,
                name: sportName[this.selectedSport]
            }
        }
    },
    methods: {
        ...mapActions('auth', [
            'updateProfile'
        ]),
        handleSubmit() {
            if(this.$refs.form.validate()) {
               this.updateProfile({
                   email: this.email,
                   displayName: this.displayName,
                   photoURL: null,
                   gender: this.realGender,
                   favouriteSport: this.realSport
               }).then(() => {
                   this.$router.push('/settings')
               })
            }
        }
    }
}
</script>
<style>
.blurs {
    webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.avatar--over {
    margin-top: -95px;
    margin-left: auto;
    margin-right: auto;
}
.gradient--bg {
    height: 110px !important;
    background: linear-gradient(0deg,#83b0ff,#7eadff)!important;
    /* background-color: red; */
}
.label--like {
    color: rgba(0,0,0,.54); 
    font-size: 12px; 
    margin-bottom: 10px
}
</style>
