<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
        <v-list two-line subheader>
          <v-subheader>General</v-subheader>

          <v-list-tile avatar to="/settings/profile">
            <v-list-tile-content>
              <v-list-tile-title>Profile details</v-list-tile-title>
              <v-list-tile-sub-title>Change your profile details</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile avatar to="/settings/password">
            <v-list-tile-content>
              <v-list-tile-title>Change password</v-list-tile-title>
              <v-list-tile-sub-title>Change your password</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <!-- <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title>Social accounts</v-list-tile-title>
              <v-list-tile-sub-title>Link social accounts</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile> -->
        </v-list>

        <v-divider></v-divider>

        <v-list
          subheader
          two-line
        >
          <v-subheader>Loop notifications</v-subheader>

          <v-list-tile>
            <v-list-tile-action>
              <v-checkbox v-model="notifications"></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content @click="notifications = !notifications">
              <v-list-tile-title>Notifications</v-list-tile-title>
              <v-list-tile-sub-title>Allow notifications</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <!-- <v-list-tile>
            <v-list-tile-action>
              <v-checkbox v-model="sound"></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content @click="sound = !sound">
              <v-list-tile-title>Sound</v-list-tile-title>
              <v-list-tile-sub-title>Hangouts message</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-action>
              <v-checkbox v-model="invites"></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content @click="invites = !invites">
              <v-list-tile-title>Invites</v-list-tile-title>
              <v-list-tile-sub-title>Notify when receiving invites</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile> -->
        </v-list>
    </v-flex>
  </v-layout>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    data () {
      return {
        notifications: false,
        sound: false,
        video: false,
        invites: false
      }
    },
    computed: {
      ...mapGetters('auth', [
          'loginProviders' 
      ])
    }
  }
</script>