<template>
    <div>
        <v-navigation-drawer
        persistent
        :mini-variant="miniVariant"
        :clipped="clipped"
        v-model="drawer"
        enable-resize-watcher
        fixed
        app
        >
            <v-toolbar flat>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title class="title" to="/">
                            Loop Social
                            <small v-text="$store.state.auth.displayName"></small>
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-toolbar>
             <v-list dense>
                <v-list-tile to="/" exact>
                    <v-list-tile-action><v-icon>home</v-icon> </v-list-tile-action>
                    <v-list-tile-title>Home</v-list-tile-title>
                </v-list-tile>
                <!-- <v-list-tile to="/search">
                    <v-list-tile-action><v-icon>search</v-icon> </v-list-tile-action>
                    <v-list-tile-title>Search loop</v-list-tile-title>
                </v-list-tile> -->
                <v-divider/>
                <v-subheader>Loops</v-subheader>
                <v-list-tile avatar color="red accent-1" to="/add">
                    <v-list-tile-action><v-icon>add</v-icon> </v-list-tile-action>
                    <v-list-tile-title>Add new loop</v-list-tile-title>
                </v-list-tile>
                <!-- <v-list-tile to="/my-loops">
                    <v-list-tile-action><v-icon>loop</v-icon> </v-list-tile-action>
                    <v-list-tile-title>My Loops</v-list-tile-title>
                </v-list-tile> -->
                <v-divider/>
                <v-subheader>Account </v-subheader>
                <!-- <v-list-tile to="/notifications">
                    <v-list-tile-action><v-icon>notifications</v-icon></v-list-tile-action>
                    <v-badge
                        color="red"
                        right
                    >
                        <span slot="badge">6</span>
                        <v-list-tile-title>Notifications</v-list-tile-title>
                     </v-badge>
                </v-list-tile> -->
                <v-list-tile to="/settings">
                    <v-list-tile-action><v-icon>settings</v-icon> </v-list-tile-action>
                    <v-list-tile-title>Settings</v-list-tile-title>
                </v-list-tile>
                <v-divider/>
                <v-list-tile @click="doLogout()" color="grey">
                    <v-list-tile-action><v-icon>power_settings_new</v-icon> </v-list-tile-action>
                    <v-list-tile-title>Logout</v-list-tile-title>
                </v-list-tile>
                

            </v-list>
        </v-navigation-drawer>
        <v-toolbar
            color="blue accent-1"
            flat
            dark
            dense
            app
            >
                <!-- <v-spacer class="hidden-sm-and-down"></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down" flat>
                    <v-btn to="/" flat>Home</v-btn>
                    <v-btn to="/map" flat><v-icon>place</v-icon> View Map</v-btn>
                    <v-btn to="/add" flat><v-icon>add</v-icon> Add Event</v-btn>
                    <v-btn icon>
                        <v-icon>account_circle</v-icon>
                    </v-btn>
                </v-toolbar-items> -->
                <v-toolbar-side-icon v-if="!details" @click="drawer = !drawer"></v-toolbar-side-icon>
                <v-btn v-if="details" icon to="/">
                    <v-icon>arrow_back</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-toolbar-title @click="$router.push('/')">Loop</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-md-and-up" flat>
                    <v-btn icon @click="startSearch()" >
                        <v-icon v-if="!isSearching">search</v-icon>
                        <v-icon v-else>close</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
    </div>
</template>
<script>
import {mapState} from 'vuex'
export default {
    data () {
        return {
        clipped: true,
        drawer: false,
        fixed: false,
        miniVariant: false,
        }
    },
    computed: {
        ...mapState('loops', {
            details: state => state.details
        }),
        isSearching () {
            return this.$store.getters['helper/isSearching'];
        },

    },
    methods: {
        doLogout() {
            this.$store.dispatch('auth/logout')
            .then(r => {
                this.$router.replace('login')
            })
        },
        async startSearch() {
            if(this.$router.history.current.path != '/') {
                this.$store.dispatch('helper/toggleSearch');
                this.$router.push('/');
            } else {
                await this.$store.dispatch('helper/toggleSearch');
                window.scrollTo(0,0);
                // if(this.isSearching == false) {
                //     window.scrollTo(0,0);
                // }
            }
        }
    }
}
</script>
