<template>
    <v-bottom-nav
      :color="color"
      :value="true"
      class="hidden-md-and-up"
      dense
      fixed
      mandatory 
      app
      flat
      height="50"
    >
      <v-btn dark to="/">
        <span>Home</span>
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn dark to="/map">
        <span>Map</span>
        <v-icon>place</v-icon>
      </v-btn>
      <v-btn dark to="/add">
        <span>Add</span>
        <v-icon>add</v-icon>
      </v-btn>
      <v-btn dark @click="doLogout">
        <span>Logout</span>
        <v-icon>power_settings_new</v-icon>
      </v-btn>
    </v-bottom-nav>
</template>
<script>
    export default {
    data () {
      return {
        bottomNav: 3
      }
    },
    computed: {
      color () {
        switch (this.bottomNav) {
          case 0: return 'blue-grey'
          case 1: return 'teal'
          case 2: return 'brown'
          case 3: return 'indigo'
        }
      }
    },
    methods: {
      doLogout() {
        this.$store.dispatch('auth/logout')
          .then(r => {
            this.$router.replace('login')
          })
      }
    }
    }
</script>