<template>
    <v-toolbar app flat color="blue accent-1" dark>
        <v-spacer></v-spacer>
        <v-toolbar-title>Loop Social</v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>
</template>