<template>
    <v-layout row wrap>
        <v-flex xs12>
            <v-form @submit.prevent="handleForm()" method="post" lazy-validation :value="true" ref="form">
            <v-stepper class="elevation-1" v-model="step">
                <v-stepper-header class="elevation-0" style="height: 50px">
                    <v-stepper-step :complete="step > 1" step="1">Sport</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :complete="step > 2" step="2">Location</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="3">Finish</v-stepper-step>
                </v-stepper-header>
                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <step1
                                v-model="final.type"
                                @changeStep="handleChangeStep($event)"
                            />
                        </v-stepper-content>
                        <v-stepper-content step="2" style="padding:0 !important; margin: 0 !important;">
                            <step2
                                v-model="final.location"
                                :loopType="fancyLoop"
                                @changeStep="handleChangeStep($event)"
                            />
                        </v-stepper-content>
                        <v-stepper-content step="3">
                            <step3 
                                v-model="final.meta"
                                :loopType="fancyLoop"
                                @changeStep="handleChangeStep($event)"
                                @submitForm="handleSubmit($event)"
                            />
                        </v-stepper-content>
                    </v-stepper-items>
            </v-stepper> 
         </v-form>
        </v-flex>
    </v-layout>
</template>
<script>
import {mapState} from 'vuex';
import Step1 from '@/components/forms/NewLoopSteps/Step1';
import Step2 from '@/components/forms/NewLoopSteps/Step2';
import Step3 from '@/components/forms/NewLoopSteps/Step3';
export default {
    data() {
        return {
            step: 3,
            final: {
                type: 'run',
                location: {},
                meta: {}
            },
            location: {
                lat: 0,
                lng: 0,
                city: null,
                state: null,
                country: null,
                street: null
            },
        }
    },
    computed: {
        fancyLoop() {
            if(this.final.type == 'run') {
                return 'run';
            } else if(this.final.type == 'bike'){
                return 'cycle';
            }
        },
    },
    methods: {
        handleForm() {
            return false;
        },
        handleChangeStep(step) {
            this.step = step;
        },
        handleSubmit(e) {
            if(this.final.meta.isValid) {
                alert('This now goes to the db. Well not now per se... but soon. I will "fake" redirect you to the homepage. ')
                this.$router.push('/');
            } else {
                alert('Please fill in all the field above.')
            }
        }
    },
    components: {
       Step1,
       Step2,
       Step3
    }
}
</script>
