<template>
    <v-layout d-flex row wrap>
      <ais-index
        app-id="VM4FBO86TF"
        api-key="ddc54505be24446f3b1c17b3526c83f5"
        index-name="loops"
        :query-parameters="{
            distinct: true,
            aroundLatLng:'44.4268, 26.1025',
            aroundRadius: 'all',
            //aroundLatLngViaIP : true
        }">
        <v-slide-y-transition>
          <div class="search__area" v-if="isSearching">
            <ais-input placeholder="Type to find loops..." autofocus class="ais-input elevation-1 mx-auto" v-model="searchTerm"></ais-input>
            <v-layout row wrap>
              <ais-refinement-list 
                attribute-name="type" 
                :sort-by="['name:desc', 'count:desc', 'isRefined:desc']"
                class="something" />
              <ais-powered-by class="my-0 ml-3"></ais-powered-by>
            </v-layout>
          </div>
        </v-slide-y-transition>
        <div :class="['search__results', {'search__results-inactive' : !isSearching, 'search__results-active' : isSearching}]">
          <v-fade-transition>
            
            <v-container grid-list-xs class="pt-0 pb-1">
              <home-filter v-if="!isSearching" />
              <v-btn v-if="!isSearching" color="primary" block  to="/add">Create a Loop</v-btn>  
            </v-container>
          </v-fade-transition>
          <v-subheader>Quick list of Loops to search through</v-subheader>
          <ais-results>
            <template slot-scope="{ result }">
              <card v-if="result" :loop="result" />
              <loading v-else />
            </template>
          </ais-results>
          <ais-no-results class="ml-3">
            <h2>Be the first to ad a loop!</h2>
          </ais-no-results>
        </div>
      </ais-index>
    </v-layout>
</template>
<script>
import Vue from 'vue';
import InstantSearch from 'vue-instantsearch';
import Card from '@/components/ui/card/Card'
import Loading from '@/components/helpers/Loading'
import HomeFilter from '@/components/ui/HomeFilter/HomeFilter'

Vue.use(InstantSearch);
export default {
    name: 'Home',
    data() {
      return {
        searchTerm: '',
      }
    },
    components: {
        Card,
        Loading,
        HomeFilter,
    },
    computed: {
      isSearching () {
        return this.$store.getters['helper/isSearching'];
      }
    },
    methods: {
      onPageChange(page) {
          window.scrollTo(0,0);
      },
      alertStuff(stuff) {
        alert(stuff)
      }
    },
    async beforeRouteLeave(to, from, next) {
      if(this.isSearching) {
        await this.$store.dispatch('helper/toggleSearch');
        return next()
      }
      next()
    }
}
</script>
<style>
.search__area{
  background: #82b1fd;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.search__results {
  display: block;
}
.search__results-active {
  margin-top: 100px;
}
.search__results-inactive {
  margin-top: 0px;
}
.ais-input{
  display: block;
  background-color: #FFF;
  flex: 0 0 95%;
  width: 95%;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  padding-left: 10px;
}
.ais-refinement-list {
  display: inline;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.ais-refinement-list__item {
  margin-right: 10px;
}
.ais-refinement-list__label {
  font-size: 16px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 500;
}
.ais-refinement-list__checkbox {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-color: #FFF;
  border: 1px solid #ccc;
}
.ais-refinement-list__count {
  font-size: 12px;
  background: #dcdcdc;
  color: #000;
  padding: 5px 9px;
  border-radius: 12px;
}
h4 {
  font-size: 20px;
}
</style>
