<template>
  <v-layout wrap row id="main-loop-list">
    <v-flex 
      flex
      xs12
      md12
      sm12
      v-if="items"
      v-for="item in items"
      :key="item.id"
      mb-3
      align-content-space-between
    >
     <v-subheader>Loops close to you </v-subheader>
      <v-card class="elevation-1">
         <v-card-media
           height="120"
           :aspect-ratio="16/9"
           src="https://maps.googleapis.com/maps/api/staticmap?center=Mocanilor,+Ploiesti&zoom=15&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CMocanilor,+Ploiesti "
         >
           
         </v-card-media>
        <v-card-text primary-title class="mt-0 pt-0">
          <div>
            <h3 class="title mx-0 my-0 p0"><v-icon>direction_bike</v-icon> {{item.type}}</h3>
            <template v-for="meta in item.loopMeta">
              <v-chip :color="corectColor(meta)" :key="meta">{{meta}}</v-chip>
            </template> <br/>
            <v-icon color="grey lighten-1">location_on</v-icon> {{item.location.city}} {{item.location.street}} <br/>
            <v-icon color="grey lighten-1">watch_later</v-icon> {{item.loopDate}} / {{item.loopTime}}
          </div>
        </v-card-text>
        <v-card-actions>
          
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
function getUrl(url) {
    this.url = url;
    console.log(this.url)
}
import {mapGetters, mapState} from 'vuex'
import StaticMap from 'vue-static-map'
export default {
  name: 'home',
  data() {
    return {
      apiKey: 'AIzaSyDjqNnGSK80nRAdg2CqrLb5hnh08VPbvwI',
      center: 'Empire State Buildßing',
      url: '',
      zoom: 14,
    }
  },
  components: {
    StaticMap
  },
  beforeMount() {
    this.$store.dispatch('loops/getAllLoops')
  },
  computed: {
    ...mapGetters('loops', {
      myLoops: 'myLoops'
    }),
    ...mapState('loops', {
      items: state => state.items
    })
  },
  methods: {
    getUrl,
    corectIcon(type) {
      if(type == 'run' || type =='running') {
        return 'direction_run'
      } else {
        return 'direction_bike'
      }
    },
    corectColor(meta) {
      if(meta == '<5 min/km' || meta == '5 - 6 min/km'){
        return 'red lighten-3'
      } else if (meta == '8 - 7 min/km') {
        return 'green lighten-3'
      }
      else {
        return 'grey lighten-3'
      }
          
    }
  }
}
</script>
