<template>
    <v-layout row wrap>
        <v-flex xs12>
            {{id}}
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
        name: 'LoopSuccess',
        data() {
            return {
                id : null
            }
        },
        mounted() {
            this.id = this.$route.params.id;
        }
    }
</script>