<template>
  <v-layout d-flex row wrap>
    <v-flex xs12>
      <loading v-if="!loop && !error"/>
      <card v-if="loop && !error" :loop="loop" extension />
      <v-alert v-if="error" type="secondary" :value="true">
        <div >
            <h2>Sorry !</h2>
            <p>But the loop you are looking for either doesn't exist or has been deleted.</p>
            <v-btn to="/" color="primary">Back to Homepage</v-btn>
      </div>
      </v-alert>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapState} from 'vuex'
import Loading from '@/components/helpers/Loading'
import Card from '@/components/ui/card/Card'
export default {
  name: 'LoopDetails',
  async mounted() {
    await this.$store.dispatch('loops/getLoopDetails', this.$route.params.id);
  },
  computed: {
    ...mapState('loops',{
      loop: state => state.details,
      error: state => state.error
    })
  },
  components: {
    Loading,
    Card
  },
  async beforeRouteLeave(from, to, next) {
    await this.$store.dispatch('loops/clearLoopDetails')
    next()
  }
}
</script>

