<template>
    <v-layout row wrap>
        <v-flex xs12>
           <v-subheader> Loops i am attending</v-subheader>
            <v-card>
                <v-card-title>Loop 1</v-card-title>
                <v-card-text>
                    lorem ipsum
                </v-card-text>
            </v-card>
        </v-flex>
        <v-flex xs12>
            <v-subheader>Loops i organized</v-subheader>
            <v-card>
                <v-card-title>Loop 2</v-card-title>
                <v-card-text>
                    lorem ipsum
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>
