<template>
    <v-btn v-if="!isJoining" @click="handleClick" color="primary elevation-0">Join</v-btn>
    <v-btn v-else :color="colorStyle" :flat="isFlat" outline v-html="buttonText"></v-btn>
</template>
<script>
    export default {
        name: 'JoinButton',
        data() {
            return {
                buttonText: 'Will attend',
                isHover : false,
            }
        },
        props: {
            loop: {
                type: Object,
                required: true,
                default: {}
            },
            userId: {
                type: String,
                require: true
            },
            isFlat: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        computed: {
            isJoining() {
                const pplJoining = Object.keys(this.loop.peopleJoining);
                return pplJoining.find(ppl => ppl == this.$store.state.auth.id);
            },
            colorStyle() {
                if(!this.isHover){
                    return 'success elevation-0';
                } else {
                    return 'warning elevantion-0'
                }
            }
        },
        methods: {
            async handleClick(e) {
                e.preventDefault();
                const payload = {
                    loop: this.loop,
                    userId: this.$store.state.auth.id
                };
                try {
                    const success = await this.$store.dispatch('loops/joinLoop', payload);
                    this.$router.push('/loop/' + this.loop.id)
                } catch(e) {
                    alert(e)
                }
                
            },
            handleMouseOver(e) {
                console.log(1)
                this.isHover = true
            }
        }
    }
</script>