<template>
    <v-layout row wrap>
        <v-flex xs6>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">Bucharest</h3>
                        <div>Loops in your town</div>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <v-flex xs6>
            <v-card>
                <v-card-title primary-title @click="handleClick()">
                    <div>
                        <h3 class="headline mb-0">10km <v-icon>place</v-icon> </h3>
                        <div>Loops around you</div>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <permission-location/>
    </v-layout>
</template>
<script>
import PermissionLocation from '@/components/ui/Permissions/Location/Location'
export default {
    name: 'HomeFilter',
    components :{
        PermissionLocation
    },
    methods: {
        handleClick() {
            buss.$emit('permission_ask_location', 1)
        }
    }
}
</script>
