<template>
    <v-layout row>
        <v-flex>
            <v-list one-line>
                <template v-for="(item, index) in items">
                    <v-subheader
                    v-if="item.header"
                    :key="item.header"
                    >
                    {{ item.header }}
                    </v-subheader>

                    <v-divider
                    v-else-if="item.divider"
                    :inset="item.inset"
                    :key="index"
                    ></v-divider>

                    <v-list-tile
                    v-else
                    :key="item.title"
                    avatar
                    >
                        <v-list-tile-avatar size="48">
                            <avatar :user="item.id"/>
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                            <v-list-tile-title v-if="item.isAuthor" v-html="`${item.title} <small>- Organizer</small>`"></v-list-tile-title>
                            <v-list-tile-title v-if="!item.isAuthor" v-html="item.title"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </v-flex>
    </v-layout>
</template>

<script>
import firebase from '@/services/firebase'
import Avatar from '@/components/ui/avatar/Avatar'
  export default {
    props: {
        loop: {
            type: Object,
            required: true,
            default: {}
        }
    },
    mounted() {
      this.getAttendies();
    },
    data () {
        return {
            items: [
                { header: 'Loopers joining' },
            ]
        }
    },
    methods: {
        async getAttendies(loop) {
            await firebase.database().ref('loops2Users/' + this.loop.id).once('value', (users) => {
                users.forEach(user => {
                  const currentUser = user.val()
                  this.items.push({
                    id: currentUser.id,
                    title: currentUser.displayName,
                    isAuthor: (currentUser.id == this.loop.author.id)
                  })
                })
            })
        }
    },
    components: {
        Avatar
    }
  }
</script>
