<template>
    <v-card v-if="loop" flex-1 class="card card--highlited mb-2 elevation-1">
        <v-layout row wrap class="ma-2">
            <v-flex xs2 flex-1 style="display:flex; flex-direction: column; justify-content: space-between">
                <avatar :user="loop.author.id" />
                <v-icon v-if="loop.type =='run'" class="mt-2 ml-0" size="50" color="grey lighten-2">directions_run</v-icon>
                <v-icon v-if="loop.type =='bike'" class="mt-2 ml-0" size="50" color="grey lighten-2">directions_bike</v-icon>
            </v-flex>
            <v-flex xs10 class="pl-2">
                <h3 class="card__title">{{loop.author.displayName}}   <v-chip v-if="peopleJoiningTotal">+ {{peopleJoiningTotal}}</v-chip></h3>
                <div class="card__location my-1">
                    <v-icon color="primary lighten-4">place</v-icon>
                    <span class="card__locationName" v-text="`${street}`"></span>
                </div>
                <div class="card__date my-1">
                    <v-icon color="primary lighten-4">timer</v-icon>
                    <span class="card_dateTime" v-text="time"></span>
                </div>
                <v-divider/>
                <v-layout v-if="loop.loopMeta" class="card__meta mb-2" row wrap>
                    <v-flex xs4 class="card__metaDistance">
                        <p class="mb-0 mt-2">Distance</p>
                        <strong v-text="loop.loopMeta.distance"></strong>
                    </v-flex>
                    <v-flex xs4 class="card__metaPace">
                        <p class="mb-0 mt-2">Average</p>
                        <strong v-text="loop.loopMeta.pace"></strong>
                    </v-flex>
                    <v-flex v-if="loop.loopMeta.row" xs4 class="card__metaType">
                        <strong>Type</strong>
                        <p v-text="loop.loopMeta.row"></p>
                    </v-flex>
                </v-layout>
                <v-divider v-if="loop.details"/>
                <div v-if="loop.details" class="card__details mb-2 mt-2">
                    <strong>Loop Details</strong>
                    <p v-text="loop.details"></p>
                </div>
            </v-flex>
        </v-layout>
        <card-extension v-if="extension" :loop="loop"/>
        <card-attendies v-if="extension" :loop="loop"/>
        <v-card-actions v-if="!extension" class="card__actions">
            <v-btn :to="`/loop/${loop.objectID}`" color="priamry elevation-0">Details</v-btn>
             <join-button
                :loop="loop"
                :isFlat="true"
                :userId="$store.state.auth.id"
            />
        </v-card-actions>
        <v-card-actions v-else class="card__actions">
            <leave-modal :loop="loop"/>
            <cancel-modal :loop="loop"/>
            <leave-button :loop="loop"/>
            <join-button
                :loop="loop"
                :userId="$store.state.auth.id"
            />
           
        </v-card-actions>
    </v-card>
    <v-card v-else>
        Loading card...
    </v-card>
</template>
<script>  
    import {distanceInWords} from 'date-fns'
    import CardAttendies from '@/components/ui/card/CardAttendies'
    import CardExtension from '@/components/ui/card/CardExtension'
    import Avatar from '@/components/ui/avatar/Avatar';
    import JoinButton from '@/components/ui/joinButton/JoinButton'
    import LeaveModal from '@/components/ui/LeaveModal/LeaveModal';
    import CancelModal from '@/components/ui/CancelModal/CancelModal';
    import LeaveButton from '@/components/ui/LeaveButton/LeaveButton';
    export default {
        name: 'Card',
        props: {
            loop: {
                type: Object,
                required: true
            },
            extension: {
                type: Boolean,
                default: false
            },
            joining: {
                type: Array
            }
        },
        computed: {
            street() {
                if(this.loop.location.street) {
                    return `${this.loop.location.street}`
                } else if(this.loop.location.city) {
                    return `${this.loop.location.city}`
                } else {
                    return ''
                }
            },
            time() {
                const dateString = `${this.loop.loopDate}T${this.loop.loopTime}:00`;
                const date = new Date(dateString);
                let day = date.toLocaleDateString('ro');
                if(day == new Date().toLocaleDateString('ro')) {
                    day = 'Today'
                }
                return day + ' - ' + date.toLocaleTimeString('ro') ;
            },
            peopleJoiningTotal() {
                let total = Object.keys(this.loop.peopleJoining).length;
                if(total == 1){
                    return false;
                } else {
                    return total - 1;
                }
            }
        },
        components: {
            CardAttendies,
            CardExtension,
            Avatar,
            JoinButton,
            LeaveModal,
            LeaveButton,
            CancelModal
        }
    }
</script>
<style>
    .card {
        border: 2px solid #eee;
    }
    .card .card__title {
        font-weight: 500;
    }
    .card .card__location, .card .card__date {
        color: #454545;
        padding-left: 0;
        margin-left: 0;
    }
    .card .card__actions {
        display: flex;
        direction: row;
        justify-content: flex-end;
        background-color: #f5f5f5;
    }
</style>
