<template>
    <GmapMap
    :center="{lat:loop.location.lat, lng:loop.location.lng}"
    :zoom="15"
    map-type-id="roadmap"
    :options="{disableDefaultUI: true}"
    style="width: 100vw; height: 200px"
    >
    <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="false"
        :draggable="false"
        @click="center=m.position"
    />
    </GmapMap>
</template>
<script>
    import Vue from 'vue'
    import * as VueGoogleMaps from 'vue2-google-maps' 
    Vue.use(VueGoogleMaps, {
    load: { key: 'AIzaSyCbo-8z8vmI7vmqdPqu1Z64qiihc8kUeAw', libraries: 'places'}
    })
    export default {
        name: 'CardExtension',
        data() {
            return {
                markers: [
                    {
                        position: {lat: this.loop.location.lat, lng:this.loop.location.lng}
                    }
                ]
            }
        },
        props: {
            loop: {
                type: Object,
                //required: true
            }
        }
    }
</script>