<template>
    <v-layout row justify-center>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click.native="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title v-html="t.cancelTitle"></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat @click.native="dialog = false" v-html="t.buttonTitle"></v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-layout row wrap>
            <h2>Wooo wo woo !</h2>
        </v-layout>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import auth from '@/mixins/authMixin.js'
export default {
    name: 'CancelModal',
    props: {
        loop: {
            type: Object,
            required: true,
            default: {}
        }
    },
    data() {
        return {
            dialog: false,
            t: {
                cancelTitle: 'Cancel loop!',
                buttonTitle: 'Cancel'
            }
        }
    },
    mixins: [auth],
    computed: {
        
    },
    methods: {
        handleShow($event) {
             if($event == 1) {
                 this.dialog = true;
             }
        }
    },
    mounted() {
        buss.$on('cancel_loop', this.handleShow);
    },
    beforeDestroy() {
        buss.$off('cancel_loop');
    },
}
</script>
