<template>
  <div>
    <component :is="layout"></component>
  </div>
</template>
<script>
import MainLayout from '@/layouts/MainLayout'
import SimpleLayout from '@/layouts/SimpleLayout'
import authMixin from '@/mixins/authMixin'
export default {
  mixins: [authMixin],
  computed: {
    layout() {
      return this.$store.getters['helper/activeLayout']; 
    }
  },
  components: {
    'main-layout' : MainLayout,
    'simple-layout': SimpleLayout
  }
}
</script>
