<template>
    <v-app>
      <top-nav/>
      <v-content>
        <v-container class="px-0" style="padding-bottom: 70px" fluid>
          <router-view></router-view>
        </v-container>
      </v-content>
    </v-app>
</template>
<script>
import TopNav from '@/components/navigation/MainTopNav'
export default {
  components: {
    TopNav
  }
}
</script>