<template>
    <v-app>
      <!-- <simple-nav/> -->
      <v-content>
        <v-container>
          <router-view></router-view>
        </v-container>
      </v-content>
    </v-app>
</template>
<script>
import SimpleNav from '@/components/navigation/SimpleTopNav'
export default {
  components: {
    SimpleNav
  }
}
</script>
