<template>
    <v-layout row wrap>
        <v-flex xs12>
            <v-card class="elevation-6" xs12>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-2"><v-icon>place</v-icon> Add a loop</h3>
                        <div>Please fill in the data bellow to add the event.</div>
                    </div>
                </v-card-title>
                <v-card-text>
                     <v-form>
                      <v-layout row wrap>
                            <v-flex xs12>
                              <label class="mb-2 d-block">Please choose your sport: </label>
                                <v-btn-toggle class="mb-3" large  v-model="defaultSport">
                                    <v-btn 
                                        large
                                        v-for="sport in sports"
                                        :key="sport.name"
                                        flat 
                                        :value="sport.name"
                                        @click="changeSportTo(sport.name)"
                                        >
                                        <span>{{sport.name}}</span>
                                        <v-icon>{{sport.icon}}</v-icon>
                                    </v-btn>
                                </v-btn-toggle>
                            </v-flex>
                            <v-flex xs8 sm7 md6>
                                <v-dialog
                                    ref="dialog1"
                                    v-model="modal"
                                    lazy
                                    full-width
                                    width="290px"
                                >
                                    <v-text-field
                                        slot="activator"
                                        v-model="date"
                                        label="Pick the date"
                                        prepend-icon="event"
                                    ></v-text-field>
                                    <v-date-picker v-model="date" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialog1.save(date)">OK</v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-flex>
                            <v-flex xs4 sm5 md4>
                                <v-dialog
                                    ref="dialog2"
                                    v-model="time_modal"
                                    persistent
                                    lazy
                                    full-width
                                    width="290px"
                                >
                                    <v-text-field
                                    slot="activator"
                                    v-model="time"
                                    label="Pick the time"
                                    prepend-icon="access_time"
                                    ></v-text-field>
                                    <v-time-picker
                                    v-if="time_modal"
                                    v-model="time"
                                    >
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="primary" @click="time_modal = false">Cancel</v-btn>
                                    <v-btn flat color="primary" @click="$refs.dialog2.save(time)">OK</v-btn>
                                    </v-time-picker>
                                </v-dialog>
                            </v-flex>
                            <v-flex xs12><keep-alive><component :is="loadedComponent"></component></keep-alive></v-flex>
                            <v-flex xs12>
                                <v-textarea
                                    label="Information about the run"
                                    name="details"
                                    placeholder="Details about the run"
                                    solo
                                ></v-textarea>                            
                            </v-flex>
                      </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn flat color="orange">Finish<v-icon>keyboard_arrow_right</v-icon></v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
//TODO date and time
import running from './AddLoopForm/RunningForm'
import cycling from './AddLoopForm/CyclingForm'
import yoga from './AddLoopForm/YogaForm'
import LoopInputLocationAutocomplete from '@/components/helpers/LoopInputLocationAutocomplete'

export default {
    components: {
        running,
        cycling,
        yoga,
        LoopInputLocationAutocomplete
    },
    props: {
        sports: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            the_item: null,
            loadedComponent : 'running',
            defaultSport: 'Running',
            modal: false,
            time_modal : false,
            date: null,
            time: null,
            address: {},
            labelText: 'Location',
            prependIcon: 'place'
        }
    },
    computed: {
       
    },
    methods: {
        changeSportTo(newSport) {
            this.loadedComponent = newSport.toLowerCase()
        },
        handleMapClick() {
            alert('map will be shown')
        },
        getAddressData: function (addressData, placeResultData) {
            this.address = addressData;
        }
    }
}
</script>
