<template>
<v-layout  justify-center>
    <v-flex md4 sm6 offset-sm-3 offset-md4 xs12 d-flex>
        <v-card>
        <v-card-title primary-title align-center>
             <div>
                <h3 class="headline mb-2"> <v-icon color="deep-orange lighten-1">lock</v-icon> Login</h3>
                <v-subheader>We protect your privacy, so we require everybody to login!</v-subheader>
            </div>
        </v-card-title>
        <v-card-text>
             <v-alert
                :value="showError"
                type="error"
                transition="scale-transition"
                >
                 
                 <div v-html="errorMessage"><v-icon>danger</v-icon></div>
                </v-alert>
            <v-form 
                ref="form" 
                v-model="valid" 
                @submit.prevent="doLogin"
                lazy-validation 
                >
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-text-field
                            name="email"
                            label="Email"
                            type="email"
                            v-model="email"
                            ref="email"
                            :rules="emailRules"
                            single-line
                            required
                        ></v-text-field>
                        
                        <v-text-field
                            name="password"
                            label="Password"
                            v-model="password"
                            :autofocus="true"
                            hint="At least 8 characters"
                            min="8"
                            :rules="passwordRule"
                            :append-icon="password_visible ? 'visibility' : 'visibility_off'"
                            @click:append="() => (password_visible = !password_visible)"
                            :type="password_visible ? 'text' : 'password'"
                            required
                        ></v-text-field>
                        
                        <v-btn 
                            block 
                            color="blue accent-2" 
                            dark
                            :loading = "isLoading ? true: false"
                            @click="doLogin"
                            type="submit"
                            >Login</v-btn>
                        
                        <v-btn 
                            block 
                            flat 
                            color="primary"
                            to="/register"
                            >Register with Email</v-btn>
                    </v-flex> 
                
                </v-layout>
            </v-form>
        </v-card-text>
    </v-card>
    </v-flex>
</v-layout>
    
    
</template>
<script>
    export default {
        data() {
            return {
                email: '',
                password: '',
                password_visible: false,
                valid: true,
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ],
                passwordRule: [
                    v => !!v || 'Password is required',
                    v => v.length >= 8 || 'Password must be at least 8 characters.'
                ],
                errorMessage: null,
                showError: false
            }
        },
        computed: {
            isLoading () {
                return this.$store.getters['helper/isLoading'];
            }
        },
        methods: {
            doLogin() {
                let _this = this;
                _this.errorMessage = null
                _this.showError = false
                if (this.$refs.form.validate()) {
                    this.$store.dispatch('auth/login', { 'email': _this.email, 'password': _this.password})
                    .then(user => {
                        this.$router.replace('/');
                    }).catch(err => {
                        _this.errorMessage = err.message
                        _this.showError = true
                    })
                }
            }
        }
    }
</script>