<template>
    <v-layout row wrap>
        <v-flex xs12>
            <v-form @submit.once="handleForm()" lazy-validation :value="true" ref="form">
            <v-stepper class="elevation-1" v-model="step">
                <v-stepper-header class="elevation-0" style="height: 50px">
                    <v-stepper-step :complete="step > 1" step="1">Name of step 1</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :complete="step > 2" step="2">Name of step 2</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="3">Name of step 3</v-stepper-step>
                </v-stepper-header>
                
                    <v-stepper-items>
                        <v-stepper-content step="1" style="padding-top: 0">
                            <v-card
                            class="mb-3 elevation-0"
                            color=""
                            height="250px"
                            
                            >
                            <!-- Begin step 1 -->
                                <v-layout style="height: 100%" row wrap align-center>
                                    <v-flex xs12>
                                        <p class="title mb-0">Choose your activity</p>
                                        <v-subheader>What activity would you like to schedule ?</v-subheader>
                                    </v-flex>
                                    <v-flex
                                        xs6
                                        v-for="sport in sports"
                                        :key="sport.internal"
                                        style="height: 100px"
                                        class="mb-2"
                                        align-center
                                        >
                                        <v-btn
                                            depressed
                                            dark
                                            :class="[{'grey' : currentSport != sport.internal}, {'orange elevation-3' : currentSport == sport.internal}]"
                                            style="height: 100%"
                                            @click="setActiveSport(sport.internal)"
                                        >
                                            <v-icon>{{sport.icon}}</v-icon>
                                            <h3>{{sport.name}}</h3>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                                <!-- End step 1 -->
                            </v-card>
                            <v-btn
                                flat
                                color="primary"
                                @click="nextStep()">
                                Choose activity
                            </v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="2">
                            <v-card
                                class="mb-3 elevation-0"
                                color=""
                                height="390px">
                                <v-card-text>    
                                <!-- Begin step 2 -->
                                    <p class="title">Where do you start?</p>
                                    <gmap-autocomplete
                                        class="gmap-autocomplete--local"
                                        @place_changed="setPlace"
                                        autofocus
                                        :select-first-on-enter="true"/>
                                        <br/>
                                    
                                    <GmapMap
                                        v-show="false"
                                        :center="center"
                                        :zoom="14"
                                        :options="{disableDefaultUI: true}"
                                        ref="mmm"
                                        map-type-id="roadmap"
                                        style="width: 100%; height: 260px">

                                        <!-- <Gmap-Marker
                                            v-if="place"
                                            :animation="1"
                                            :draggable="true"
                                            :position="{
                                                lat: place.geometry.location.lat(),
                                                lng: place.geometry.location.lng(),
                                            }" /> -->

                                    </GmapMap>
                                <!-- End step 2 -->
                                </v-card-text>
                            </v-card>
                            <div style="clear:both"></div>
                            <v-btn
                                color="primary"
                                flat
                                :disabled="place == null"
                                @click="nextStep()">
                                Choose location 
                            </v-btn>

                            <v-btn 
                                @click="prevStep()"
                                flat
                                color="grey lighten-1">
                                Back
                            </v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="3">
                            <v-card
                            class="mb-3 elevation-0"
                            height="auto"
                            >
                                <!-- Start Step 3 -->
                                <v-layout row wrap>
                                    <v-flex xs8 sm7 md6>
                                    <v-dialog
                                        ref="date_dialog"
                                        v-model="date_modal"
                                        lazy
                                        full-width
                                        width="290px">
                                        <v-text-field
                                            slot="activator"
                                            v-model="date"
                                            label="Date"
                                            prepend-icon="event"
                                            :required="true"
                                        ></v-text-field>
                                        <v-date-picker 
                                        v-model="date" 
                                        scrollable
                                        :min="minDate"
                                        >
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="date_modal = false">Cancel</v-btn>
                                            <v-btn flat color="primary" @click="$refs.date_dialog.save(date)">OK</v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                </v-flex>
                                <v-flex xs4 sm5 md4>
                                    <v-dialog
                                            ref="time_dialogue"
                                            v-model="time_modal"
                                            persistent
                                            lazy
                                            full-width
                                            width="290px">
                                        <v-text-field
                                            slot="activator"
                                            v-model="time"
                                            label="Time"
                                            prepend-icon="access_time"
                                            :required="true"
                                            ></v-text-field>
                                        <v-time-picker
                                            v-if="time_modal"
                                            format="24hr"
                                            v-model="time">
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="time_modal = false">Cancel</v-btn>
                                        <v-btn flat color="primary" @click="$refs.time_dialogue.save(time)">OK</v-btn>
                                        </v-time-picker>
                                    </v-dialog>
                                </v-flex>
                                <v-flex xs12><component :is="loadedComponent" @metaChanged="handleMeta($event)"></component></v-flex>
                                <v-flex xs12>
                                    <v-textarea
                                        label="More details"
                                        v-model="details"
                                        name="details"
                                        placeholder="Details about the run"
                                    ></v-textarea>                            
                                </v-flex>
                                </v-layout>
                                <!-- End Step 3 -->
                            </v-card>

                            <v-btn
                            color="primary"
                            flat
                            @click.prevent="handleSubmit()"
                            >
                            Finish loop
                            </v-btn>
                            <v-btn 
                                @click="prevStep()"
                                flat
                                color="grey lighten-1">
                                Back
                            </v-btn>
                        </v-stepper-content>
                    </v-stepper-items>
            </v-stepper> 
         </v-form>
        </v-flex>
    </v-layout>
</template>
<script>
    import Vue from 'vue'
    import * as VueGoogleMaps from 'vue2-google-maps' 
    Vue.use(VueGoogleMaps, {
    load: {
        key: 'AIzaSyCbo-8z8vmI7vmqdPqu1Z64qiihc8kUeAw',
        libraries: 'places'
    }
    })
    import {mapActions, mapState} from 'vuex'
    import loopMixins from '@/mixins/loopMixin'
    import running from '@/components/forms/AddLoopForm/RunningForm'
    import cycling from '@/components/forms/AddLoopForm/CyclingForm'
    export default {
        mixins: [loopMixins],
        components: {
            running,
            cycling
        },
        data: () => {
            return {
                step: 1,
                m: null,
                place: null,
                mapActive: false,
                markers: [],
                latLng: {},
                position: {},
                center: {lat:45, lng:25},
                defaultSport: 'Running',
                date_modal: false,
                time_modal : false
            }
        },
        mounted() {
            this.resetStep()
            //this.geolocate()
        },
        watch: {
            currentStep(val) {
                if(this.step != val) {
                    this.step = this.currentStep;
                }
            }
        },
        computed: {
            ...mapState('newloop', {
                sports : state => state.sports,
                currentStep: state => state.currentStep,
                loadedComponent: state => state.loadedComponent,
                currentSport: state => state.currentSport,
                formData: state => state.formData
            }),
            date: {
                set(date) {
                    this.setState({type: 'loopDate', value: date})
                },
                get() { return this.formData.loopDate }
            },
            time: {
                set(time) { this.setState({type: 'loopTime', value: time})},
                get() { return this.formData.loopTime }
            },
            details: {
                set(details) {this.setState({type: 'details', value: details})},
                get() {return this.formData.details}
            },
            minDate() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd;
                }
                if(mm<10){
                    mm='0'+mm;
                }
                today = yyyy+'-'+mm+'-'+dd;
                return today
            }
        },
        methods: {
            ...mapActions('newloop', [
                'setLoadedComponent',
                'resetStep',
                'nextStep',
                'prevStep',
                'setActiveSport',
                'setLocation',
                'setState',
                'pushToStore',
                'waitForRedirect'
            ]),
            setPlace(place) {
                if(!place) return
                this.place = place
                this.mapActive = true
                this.$refs.mmm.panTo({
                    lat: place.geometry.location.lat(),
                    lng: place.geometry.location.lng(),
                    zoom: 15
                });

                let locationObject = this.extractLocation(place)
                this.setLocation(locationObject)
            },
            handleMeta(event) {
                this.setState({type: 'loopMeta', value: event})
            },
            handleSubmit() {
                if(this.$refs.form.validate()) {
                    this.pushToStore()
                    .then(key => {
                        //this.waitForRedirect(key)
                        this.$router.push('/loop/' + key)
                    })
                    .catch(e => {
                        console.log('error', e)
                    })
                } else {
                    console.log('not ok')
                }
                
            },
        }
    }
</script>
<style>
.gmap-autocomplete--local {
    width: 100%; 
    height: 45px;  
    font-size: 14px; 
    border-bottom: 1px solid #ccc; 
    display: block; 
    margin-bottom: 0px; 
    outline: none; 
    cursor: pointer
}
</style>
